.basket {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: max-content;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 18px;
  background-color: $white-color;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;

  .basket__wrapper {
    display: none;
  }
  .basket__empty {
    display: none;
  }

  @media (min-width: $width-desktop) {
    position: static;
    margin-top: 66px;

    .basket__wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-desktop) {
    margin-bottom: 12px;
  }
}

.basket-header__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.basket-header__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 20px;
  border-radius: 6px;
  background-color: $grey-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
}

.basket-result {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  padding-top: 16px;
  border-top: 1px solid $grey-color;
}


.basket__submit {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: $additional-color;
  border-radius: 12px;
  padding: 12px 0;
  margin-top: 24px;
  color: $white-color;

  &:hover {
    background-color: $main-color;
    color: $white-color;
  }
  &:active {
    background-color: $dark-additional-color;
  }
  &:disabled {
    opacity: 0.3;
  }
}

.basket__type-delivery {
  display: none;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  margin-top: 8px;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("/images/basket/delivery-icon@1x.png");
  }

  &--select {
    display: flex;
  }
}

//Класс для пустой корзины
.basket--clear {
  .basket__list,
  .basket-result,
  .basket__submit,
  .basket__type-delivery {
    display: none;
  }
  .basket__empty {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin: 5px 0;
  }
}

// Открытие корзины
.basket__mobile--open {
  .basket-header {
    margin-bottom: 12px;
  }
  .basket__wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* Логика корзины

1) Если в корзине нет товаров,
то на нее вешается класс .basket--clear
2) Если в корзине есть товары,
то c нее убирается класс .basket--empty


Открытие / закрытие
В десктопной версии корзина сразу открыта

В планшетной и мобильной версии корзина сразу закрыта, и будет доступно нажатие на нее для открытия

1) Клик по корзине навешивает на нее класс basket__mobile--open и открывает ее

Правила наличия товаров, описанные выше, должны отрабатывать
*/
