.thumbnails-product {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid $grey-color;
}

.thumbnails-product__info {
  max-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  margin-left: 6px;

  .thumbnails-product__title {
    word-break: break-all;
  }
  .thumbnails-product__weight {
    color: $light-grey-color;
    margin-bottom: 6px;
  }
}

.thumbnails-product__img {
  max-width: 62px;
  max-height: 50px;
  img {
    @include adaptive-img;
    border-radius: 12px;
  }
}
