.catalog {
  position: relative;
  display: grid;
  align-items: flex-start;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
  padding-top: 100px;
  @media (min-width: $width-desktop) {
    padding-top: 0;
    grid-template-columns: 0.5fr 2fr;
  }
}

.catalog__title {
  max-width: 400px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  word-wrap: break-word;
  margin-bottom: 16px;
}
