.main-footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  background-color: $white-color;
  padding: 20px;
  box-sizing: border-box;

  .main-logo {
    width: 300px;
    &:hover {
      .main-logo__svg {
        fill: $dark-grey-color;
      }
    }
    .main-logo__svg {
      fill: $additional-color;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;

    .contacts__phone {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      color: $black-color;
    }
  }
  .contacts__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .contacts__phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    &:hover {
      background-color: $main-color;
    }
  }

  .socials__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .socials__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $additional-color;
      .socials__svg {
        fill: $white-color;
      }

      &:hover {
        background-color: $main-color;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (min-width: $width-tablet) {
    padding: 51px 75px;
  }
}
