.product-filter {
  width: 100%;
  box-sizing: border-box;
}

.product-filter__list {
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.product-filter__button {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 14px;
  border-radius: 50px;
  background-color: $white-color;
  word-break: break-all;
  &::before {

    content: "";
    width: 24px;
    height: 24px;
  }
}
#filter-button-burgers {
  &::before {
    background-image: url("/images/product-filter/burger-icon@1x.png");
  }
}
#filter-button-snacks {
  &::before {
    background-image: url("/images/product-filter/snacks-icon@1x.png");
  }
}
#filter-button-hotdogs {
  &::before {
    background-image: url("/images/product-filter/hotdog-icon@1x.png");
  }
}
#filter-button-combo {
  &::before {
    background-image: url("/images/product-filter/combo-icon@1x.png");
  }
}
#filter-button-shawarma {
  &::before {
    background-image: url("/images/product-filter/shawarma-icon@1x.png");
  }
}
#filter-button-pizza {
  &::before {
    background-image: url("/images/product-filter/pizza-icon@1x.png");
  }
}
#filter-button-wok {
  &::before {
    background-image: url("/images/product-filter/wok-icon@1x.png");
  }
}
#filter-button-desserts {
  &::before {
    background-image: url("/images/product-filter/dessert-icon@1x.png");
  }
}
#filter-button-sauces {
  &::before {
    background-image: url("/images/product-filter/sauces-icon@1x.png");
  }
}

.product-filter__button--active {
  background-color: $main-color;
}
