.product-filter {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  @media (min-width: $width-tablet) {
    margin-bottom: 50px;
  }

  .filter-mobile-button {
    display: none;
  }
}

.product-filter--mobile {
  .product-filter__list {
    display: none;
    margin-top: 20px;
  }
  .filter-mobile-button {
    display: block;
    background-color: $main-color;
    padding: 8px 14px;
    border-radius: 50px;
    align-items: center;
    font-size: 16px;
  }
}

.product-filter__list {
  max-width: 100%;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  @media (min-width: $width-tablet) {
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  &--active {
    display: grid;
  }
}

.product-filter__button {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 14px;
  border-radius: 50px;
  background-color: $white-color;
  word-break: break-all;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
  }
}
#all {
  &::before {
    background-color: black;
  }
}
#burgers {
  &::before {
    background-image: url("/images/product-filter/burger-icon@1x.png");
  }
}
#snacks {
  &::before {
    background-image: url("/images/product-filter/snacks-icon@1x.png");
  }
}
#hotdogs {
  &::before {
    background-image: url("/images/product-filter/hotdog-icon@1x.png");
  }
}
#combo {
  &::before {
    background-image: url("/images/product-filter/combo-icon@1x.png");
  }
}
#shawarma {
  &::before {
    background-image: url("/images/product-filter/shawarma-icon@1x.png");
  }
}
#pizza {
  &::before {
    background-image: url("/images/product-filter/pizza-icon@1x.png");
  }
}
#wok {
  &::before {
    background-image: url("/images/product-filter/wok-icon@1x.png");
  }
}
#desserts {
  &::before {
    background-image: url("/images/product-filter/dessert-icon@1x.png");
  }
}
#sauces {
  &::before {
    background-image: url("/images/product-filter/sauces-icon@1x.png");
  }
}

.product-filter__button--active {
  background-color: $main-color;
}
