.product-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  @media (min-width: $width-tablet) {
    margin-bottom: 50px;
  }
}
.filter-mobile-button {
  display: none;
}

.mobile-filter {
  .filter-mobile-button {
    display: block;
    max-width: min-content;
    background-color: #000;
    color: #fff;
    padding: 12px 33px;
    border-radius: 50px;
    align-items: center;
    font-size: 16px;
  }
}

.mobile-filter--open {
  .product-filter__button {
    display: none;
  }
}

.product-filter__list {
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  @media (min-width: $width-tablet) {
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

.product-filter__button {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 14px;
  border-radius: 50px;
  background-color: $white-color;
  word-break: break-all;
  transition: background-color 0.5s linear;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
  }
  &--active {
    background-color: $main-color;
  }
  &:hover {
    background-color: $additional-color;
  }
}
#all {
  &::before {
    border-radius: 50%;
    background-color: rgb(73, 0, 0);
  }
}
#burgers {
  &::before {
    background-image: url("../../images/product-filter/burger-icon@1x.png");
  }
}
#snacks {
  &::before {
    background-image: url("../../images/product-filter/snacks-icon@1x.png");
  }
}
#hotdogs {
  &::before {
    background-image: url("../../images/product-filter/hotdog-icon@1x.png");
  }
}
#combo {
  &::before {
    background-image: url("../../images/product-filter/combo-icon@1x.png");
  }
}
#shawarma {
  &::before {
    background-image: url("../../images/product-filter/shawarma-icon@1x.png");
  }
}
#pizza {
  &::before {
    background-image: url("../../images/product-filter/pizza-icon@1x.png");
  }
}
#wok {
  &::before {
    background-image: url("../../images/product-filter/wok-icon@1x.png");
  }
}
#dessert {
  &::before {
    background-image: url("../../images/product-filter/dessert-icon@1x.png");
  }
}
#sauces {
  &::before {
    background-image: url("../../images/product-filter/sauces-icon@1x.png");
  }
}
